$black: #252528;
$blue: #51b7fb;
$white: #f2f2f3;

.main {
  background-color: $white;
 }

h3 {
  font-size: 24px;
  font-weight: 900;
  font-family: Ubuntu;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $black;
}

.header {
  height: 65px;
  background-color: $black;
}

.logo {
  display: block;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.section2 {
  height: 420px;
  background-color: $blue;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

  h3 {
    color: $white;
    text-decoration: underline;
  }

  p {
    color: $white;
  }
}

.card {
  width: 400px;
}

.profile {
  width: 215px;
  height: 215px;
  border-radius: 50%;
}

.section3 {
  height: auto;

  h3 {
    color: $black;
    text-decoration: underline;
  }

  p {
    color: $black;
  }
}

.blog-post {
  width: 340px;
  height: 180px;
  background-color: $blue;
}

.section4 {
  height: 750px;
  background-color: $blue;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);}

  h3 {
    color: $white;
    text-decoration: underline;
  }

  p {
    color: $white;
  }

@media only screen and (max-width: 991px) {
  .section2 {
    height: 750px;
    margin-top: 0px;
  }

  img {
    margin-top: -15px;
  }
}
