$black: #252528;
$blue: #51b7fb;
$white: #f2f2f3;

h3 {
  font-size: 24px;
  font-weight: 900;
  font-family: Ubuntu;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $black;
}

.header {
  height: 65px;
  background-color: $black;
}

.logo {
  display: block;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.section2 {
  height: 420px;
  background-color: $blue;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
  margin-bottom: -100px;

  h3 {
    color: $white;
    text-decoration: underline;
  }

  p {
    color: $white;
  }
}

.card {
  max-width: 400px;
}

.profile {
  width: 215px;
  height: 215px;
  border-radius: 50%;
}

.section3 {
  background-color: $white;
  padding-top: 100px;
  margin-bottom: -50px;
  padding-bottom: 50px;

  h3 {
    color: $black;
    text-decoration: underline;
  }

  p {
    color: $black;
  }
}

.blog-post {
  width: 340px;
  height: 180px;
  background-color: $blue;
}

.section4 {
  background-color: $blue;
  padding-bottom: 110px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));

  h3 {
    color: $white;
    text-decoration: underline;
  }

  h4 {
    color: $white;
    text-decoration: none;
    text-align: center;
  }

  p {
    color: $white;
  }

  .img {
    max-width: 400px;
  }

  .img:hover {
    cursor: pointer;
    transition: .5s;
    filter: drop-shadow(0px 0px 20px rgba(242, 242, 243, 1));
  }

  a {
    text-decoration: none;
  }

  .projects {
    display: flex;
    flex-direction: row;
  }
}

.section5 {
  background-color: $white;
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 50px;

  h3 {
    color: $black;
    text-decoration: underline;
  }

  p {
    color: $black;
  }

  .bg-blue {
    background-color: $blue;
  }
}

.profile-testimonial {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid $blue;
  border-radius: 50%;
  margin: 0 auto;
}

.copy {
  margin-left: auto;
  color: $white;
}

@media only screen and (max-width: 991px) {
  .section2 {
    height: 750px;
    margin-top: 0px;
  }

  img {
    margin-top: -15px;
  }
}
